.header-color {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.landing-grid {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.projects-grid {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
}

.contact-body{
    margin: auto;
    background: gray;
    position: fixed;
    width: 100%;
    height: 100%;

}


.banner-text {

    background-color: black;
    opacity: .8;
    width: 75%;
margin: auto;
border-radius: 10px;

}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {

    color: black;
    font-size: 5em;
    padding: 8px;

}


.demo-card-wide.mdl-card {
    
    width: 512px;
   
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 400px;
    background: url('./assets/dinner.png') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  .demo-card-wide.mdl-card2 {
    
    width: 512px;
   
}

.demo-card-wide > .mdl-card__title2 {
    color: #fff;
    height: 400px;
    background: url('./assets/groceri-emoji.png') center / cover;
  }
  .demo-card-wide > .mdl-card__menu2 {
    color: #fff;
  }



  .demo-card-wide.mdl-card3 {
    
    width: 512px;
   
}

.demo-card-wide > .mdl-card__title3 {
    color: #fff;
    height: 400px;
    background: url('./assets/react.png') center / cover;
  }
  .demo-card-wide > .mdl-card__menu3 {
    color: #fff;
  }

  .demo-card-wide > .mdl-card__titleRESUME {
    color: #fff;
    height: 400px;
    background: url('./assets/GB.pdf') center / cover;
  }
